<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="sourceApim" value="Api-Default-West-US 319b07fb-a71b-4446-b99a-36c629de9fb7 cognitivegblprod" />-->
    <add key="sourceApim" value="LiveSite-Ibiza-WU 319b07fb-a71b-4446-b99a-36c629de9fb7 cognitive-wu" />
    <!--Azure Api Management-->
    <add key="TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="ClientId" value="acd4bc24-abd2-4a3c-9751-3737b88d138f" />
 
    <add key="CloudStorageAccountName" value="DefaultEndpointsProtocol=https;AccountName=portalstoragewubackend;AccountKey=Zj+IV6lVN1fHhB6g4brsOvQhyx2NZQnWBUlwrNimYeGGVGTAU1UvvMZ0jtVBxRDg/aShJyvlBVfTpruLeQvLfw=="/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>